/Main.class
/Run$1.class
/Run.class
/SignUpFrame.class
/AuthService.class
/FileAuthService.class
/CustomException.class
/HashUtils.class
/DBConnect.class
/CRUDFrame$1.class
/CRUDFrame$2.class
/CRUDFrame$3.class
/CRUDFrame.class
/User.class
/CRUDFrame$4.class
